# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

*.java       text
*.jrxml      text
*.form       text
*.xml        text
*.properties text

*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.jasper binary

